.title{
    margin: 0px 100px;
}

.subtitle{
    margin: 10px 10px 30px 10px;
}

.subsubtitle{
    font-size: 18px;
    color:black;
}

.container-admin{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    margin: 50px 100px;
    padding: 20px 50px;
    width: auto;
    height: auto;
}

.container-admin:hover{
    box-shadow: 1px 4px 8px 1px rgb(2, 117, 216, 0.2);
}

.font{
    font-size: 20px;
}

.form-admin{
    margin: 50px 20px;
}
